{{define "content"}}
<link rel="stylesheet" href="/static/css/createPost.css">
<div class="form-container">
    <h1>Create New Post</h1>
    <form method="POST" action="/create-post" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea><br>
        <label for="category">Category:</label>
        <select id="category" name="category_id">
            {{range .Categories}}
                <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
        </select><br>
        <label for="image1">Image 1:</label>
        <input type="file" id="image1" name="image1"><br>
        <label for="image2">Image 2:</label>
        <input type="file" id="image2" name="image2"><br>
        <label for="image3">Image 3:</label>
        <input type="file" id="image3" name="image3"><br>
        <button type="submit" class="btn">Create Post</button>
        <a href="/" class="btn">Cancel</a>
    </form>
    <div class="post-preview">
        <h2>Preview:</h2>
        <div class="post-content" id="post-preview-content"></div>
    </div>
</div>
<script>
    document.getElementById('content').addEventListener('input', function () {
        var content = this.value;
        var preview = document.getElementById('post-preview-content');
        preview.innerHTML = content.replace(/\n/g, '<br>');
    });
</script>
{{end}}
