{{define "content"}}
    <link rel="stylesheet" href="/static/css/postEdit.css">
    <h1>Edit Post</h1>
    {{if .Post.IsDeleted}}
        <p>This post has been deleted.</p>
    {{else if .CanEdit}}
        <div class="edit-post-container">
            <!-- Форма для обновления поста -->
            <form id="edit-post-form" action="/updatePost" method="post">
                <input type="hidden" name="postID" value="{{.Post.ID}}">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="{{.Post.Title}}" required><br>
                <label for="content">Content:</label>
                <textarea id="content" name="content" required oninput="updatePreview()">{{.Post.Content}}</textarea><br>
                <button type="submit">Update Post</button>
            </form>

            <!-- Форма для удаления поста -->
            <form method="POST" action="/updatePost">
                <input type="hidden" name="postID" value="{{.Post.ID}}">
                <input type="hidden" name="action" value="delete">  <!-- Указывает на удаление -->
                <button type="submit">Delete Post</button>
            </form>

            <!-- Предварительный просмотр отформатированного контента -->
            <div class="post-preview">
                <h2>Preview:</h2>
                <div id="post-preview-content" class="post-content">{{renderPostContent .Post.Content}}</div>
            </div>

            <a href="/postView?postID={{.Post.ID}}"><button>Cancel</button></a>
        </div>
    {{else}}
        <p>You can only edit your posts within one hour of creation.</p>
    {{end}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/3.0.8/marked.min.js"></script>
    <script>
        function updatePreview() {
            const content = document.getElementById('content').value;
            const preview = document.getElementById('post-preview-content');
            preview.innerHTML = marked(content);
        }

        function autoResize(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
        }

        document.addEventListener('DOMContentLoaded', function() {
            updatePreview(); // Initial preview update
        });
    </script>
{{end}}
