{{define "posts"}}
<link rel="stylesheet" href="/static/css/posts.css">
<link rel="stylesheet" href="/static/css/buttons.css">
<link rel="stylesheet" href="/static/css/comments.css">
<script>
    function editPost(postID) {
        window.location.href = `/editPost?postID=${postID}`;
    }
</script>
<div class="posts-section">
    <h2 class="posts-title">{{if .IsProfile}}Your Posts{{else}}Posts{{end}}</h2>
    {{if not .IsProfile}}
    {{if not .CategoryID}}
    <form method="GET" action="/" class="sort-form">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="date" {{if eq .Sort "date"}}selected{{end}}>Date</option>
            <option value="likes" {{if eq .Sort "likes"}}selected{{end}}>Likes</option>
        </select>
    </form>
    {{end}}
    {{end}}
    <div class="posts-list">
        {{range .Posts}}
            {{if not .IsDeleted}}
                {{template "post" (dict "Post" . "User" $.User "IsAdmin" $.IsAdmin "LoggedIn" $.LoggedIn)}}
            {{end}}
        {{end}}
    </div>
</div>
{{end}}
