{{define "posts"}}
<link rel="stylesheet" href="/static/css/posts.css">
<script>
    function editPost(postID) {
        window.location.href = `/editPost?postID=${postID}`;
    }
</script>
<div class="posts-section">
    <h2>{{if .IsProfile}}Your Posts{{else}}Posts{{end}}</h2>
    <div class="posts-list">
        {{range .Posts}}
            {{if not .IsDeleted}}
                {{template "post" (dict "Post" . "User" $.User "IsAdmin" $.IsAdmin "LoggedIn" $.LoggedIn)}}
            {{end}}
        {{end}}
    </div>
</div>
{{end}}
