{{define "postActions"}}
<div class="post-actions" id="post-actions-{{.Post.ID}}">
    <form onsubmit="handleLike(event, {{.Post.ID}}, 1)" style="display:inline;">
        <button id="postbutton" type="submit">👍 Like <span id="post-likes-{{.Post.ID}}">{{.Post.Likes}}</span></button>
    </form>
    <form onsubmit="handleLike(event, {{.Post.ID}}, -1)" style="display:inline;">
        <button id="postbutton" type="submit">👎 Dislike <span id="post-dislikes-{{.Post.ID}}">{{.Post.Dislikes}}</span></button>
    </form>
    {{if .LoggedIn}}
        {{if or .IsAdmin (eq .User.ID .Post.AuthorID)}}
            <form method="POST" action="/updatePost" style="display:inline;">
                <input type="hidden" name="postID" value="{{.Post.ID}}">
                <input type="hidden" name="action" value="delete">
                <button id="postbutton" type="submit">🗑️ Delete</button>
            </form>
            <button class="btn" id="postedit-{{.Post.ID}}" onclick="editPost('{{.Post.ID}}')">Edit Post</button>
        {{end}}
    {{else}}
        <div class="login-required-message" id="login-message-{{.Post.ID}}" style="display: none;">Please log in.</div>
    {{end}}
</div>
{{end}}
