{{define "content"}}
<link rel="stylesheet" href="/static/css/posts.css">
<link rel="stylesheet" href="/static/css/buttons.css">
<link rel="stylesheet" href="/static/css/comments.css">
<h1>Posts Sorted by Category: {{.CategoryName}}</h1>
{{if .Posts}}
    <form method="GET" action="/sortedPosts">
        <input type="hidden" name="category_id" value="{{.CategoryID}}">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="likes" {{if eq .Sort "likes"}}selected{{end}}>Likes</option>
            <option value="date" {{if eq .Sort "date"}}selected{{end}}>Date</option>
        </select>
    </form>
    {{template "posts" .}}
{{else}}
    <p>No posts available in this category.</p>
{{end}}
{{end}}
