{{define "content"}}
    <link rel="stylesheet" href="/static/css/categories.css">
    <link rel="stylesheet" href="/static/css/posts.css">
    <link rel="stylesheet" href="/static/css/top-users.css">
    <div class="welcome-section">
        <h1 id="welcome">Welcome to the Book Forum</h1>
    </div>
    <div class="main-content">
        <div class="left-column">
            {{template "categories" .}}
            {{if .IsAdmin}}
                {{template "catAdmin" .}}
            {{end}}
        </div>
        {{template "posts" .}}
        {{template "top-users" .}}
    </div>
{{end}}
