<!DOCTYPE html>
<html>
<body>
    <p1>HEEELLOO</p1>

    {{if .LoggedIn}}
    <!-- Пользователь аутентифицирован -->
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <h2>Create New Category</h2>
    <form method="POST" action="/create-category">
        <label for="categoryName">Category Name:</label>
        <input type="text" id="categoryName" name="categoryName" required><br>
        <button type="submit">Create Category</button>
    </form>

    <form method="POST" action="/create-post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea><br>
        <label for="category">Category:</label>
        <select id="category" name="category_id">
            {{range .Categories}}
            <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
        </select><br>
        <button type="submit">Create Post</button>
    </form>
    {{else}}
    <!-- Пользователь не аутентифицирован -->
    <h1>Login</h1>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>

    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Register</button>
    </form>
    {{end}}

    <form method="post" action ="/users">
       <label for="users">Users list:</label>
       <button type="submit">Users</button>
    </form>
    <form method="post" action ="/posts">
        <label for="posts">Posts list:</label>
        <button type="submit">Posts</button>
    </form>
</body>
</html>
