<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{if .Post.IsDeleted}}Deleted Post{{else}}{{.Post.Title}}{{end}}</title>
</head>
<body>
    {{if .Post.IsDeleted}}
    <p>This post has been deleted.</p>
    {{else}}
    <h1>{{.Post.Title}}</h1>
    <p>{{.Post.Content}}</p>
    {{end}}
    <p>Posted by: {{.Post.AuthorName}} at {{.Post.CreatedAt}}</p>
    <div>
        Likes: {{.Likes}}, Dislikes: {{.Dislikes}}
        <form method="POST" action="/like">
            <input type="hidden" name="post_id" value="{{.ID}}">
            <input type="hidden" name="like_type" value="1">
            <button type="submit" class="like-button">Like</button>
        </form>
        <form method="POST" action="/like">
            <input type="hidden" name="post_id" value="{{.ID}}">
            <input type="hidden" name="like_type" value="-1">
            <button type="submit" class="dislike-button">Dislike</button>
        </form>
    </div>
    <a href="/editPost?postID={{.Post.ID}}"><button>Edit Post</button></a>
    <h2>Comments</h2>
    {{if .Comments}}
    <ul>
        {{range .Comments}}
        <li>{{.AuthorName}} said: {{.Content}}</li>
        {{end}}
    </ul>
   
    {{else}}
    <p>No comments yet.</p>
    {{end}}
    <form method="POST" action="/add-comment">
        <input type="hidden" name="post_id" value="{{.ID}}">
        <textarea name="content" required placeholder="Add a comment..."></textarea><br>
        <button type="submit">Comment</button>
    </form>
    <a href="/posts"><button>Back to Posts</button></a>
</body>
</html>
