{{define "content"}}
    <h1>{{.User.Username}}'s Profile</h1>
    <p>Email: {{.User.Email}}</p>
    <p>Karma: {{.User.Karma}}</p>
    {{if .User.FirstName.Valid}}
        <p>First Name: {{.User.FirstName.String}}</p>
    {{end}}
    {{if .User.LastName.Valid}}
        <p>Last Name: {{.User.LastName.String}}</p>
    {{end}}

    <h2>Your Posts</h2>
    {{if .UserPosts}}
        <ul>
            {{range .UserPosts}}
                {{if not .IsDeleted}}
                    <li><a href="/postView?postID={{.ID}}">{{.Title}}</a></li>
                {{end}}
            {{end}}
        </ul>
    {{else}}
        <p>You have not posted anything yet.</p>
    {{end}}

    <h2>Liked Posts</h2>
    {{if .LikedPosts}}
        <ul>
            {{range .LikedPosts}}
                {{if not .IsDeleted}}
                    <li><a href="/postView?postID={{.ID}}">{{.Title}}</a></li>
                {{end}}
            {{end}}
        </ul>
    {{else}}
        <p>You have not liked any posts yet.</p>
    {{end}}

    {{if .IsOwnProfile}}
        <a href="/profileEdit"><button>Edit Profile</button></a>
    {{end}}
{{end}}