{{define "content"}}
    <a href="/"><button> Home</button></a>
    <title>User Profile</title>
    <h1>{{.User.Username}}</h1>
    <p>Name: {{if .User.FirstName.Valid}}{{.User.FirstName.String}}{{else}}Not provided{{end}} {{if .User.LastName.Valid}}{{.User.LastName.String}}{{else}}{{end}}</p>
    <h2>Your Posts</h2>
    {{if .UserPosts}}
        <ul>
            {{range .UserPosts}}
                <li>{{.Title}} - {{.Content}}</li>
            {{end}}
        </ul>
    {{else}}
        <p>No posts to display.</p>
    {{end}}

    <h2>Liked Posts</h2>
    {{if .LikedPosts}}
        <ul>
            {{range .LikedPosts}}
                <li>{{.Title}} - {{.Content}}</li>
            {{end}}
        </ul>
    {{else}}
        <p>No liked posts to display.</p>
    {{end}}
{{end}}
