{{define "content"}}
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/posts.css">
    <div class="profile-container">
        <div class="profile-column profile-liked-posts">
            <h2>Liked Posts</h2>
            {{if .LikedPosts}}
                <ul>
                    {{range .LikedPosts}}
                        {{if not .IsDeleted}}
                            <li>
                                <a href="/postView?postID={{.ID}}">{{.Title}}</a>
                            </li>
                        {{end}}
                    {{end}}
                </ul>
            {{else}}
                <p>You have not liked any posts yet.</p>
            {{end}}
        </div>

        <div class="profile-column profile-posts">
            {{template "posts" .}}
        </div>

        <div class="profile-column profile-info">
            <h1>{{if .IsOwnProfile}}
                Hello, {{.User.Username}}
            {{else}}
                {{.User.Username}}'s Profile
            {{end}}</h1>
            <p>Email: {{.User.Email}}</p>
            {{if .User.Karma.Valid}}
                <p>Karma: {{.User.Karma.Int64}}</p>
            {{else}}
                <p>Karma: N/A</p>
            {{end}}
            {{if .User.FirstName.Valid}}
                <p>First Name: {{.User.FirstName.String}}</p>
            {{end}}
            {{if .User.LastName.Valid}}
                <p>Last Name: {{.User.LastName.String}}</p>
            {{end}}
            {{if .IsOwnProfile}}
                <a href="/profileEdit"><button>Edit Profile</button></a>
            {{end}}
        </div>
    </div>
{{end}}
