{{define "content"}}
    <link rel="stylesheet" href="/static/css/searchResults.css">
    <h1>Search Results</h1>

    <div class="results-container">
        <div class="posts-section">
            <h2>Posts</h2>
            {{if .Results.Posts}}
                {{template "posts" .PostsData}}
            {{else}}
                <div class="post-card">
                    <p>No posts found.</p>
                </div>
            {{end}}
        </div>

        <div class="users-list">
            <h2>Users</h2>
            {{if .Results.Users}}
                {{range .Results.Users}}
                    <div class="user-card">
                        <h3><a href="/user/{{.ID}}">{{.Username}}</a></h3>
                        <p>Email: {{.Email}}</p>
                    </div>
                {{end}}
            {{else}}
                <div class="user-card">
                    <p>No users found.</p>
                </div>
            {{end}}
        </div>
    </div>

    <a href="/"><button class="btn">Back to Home</button></a>
{{end}}
