
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/notif.css">
    <link rel="stylesheet" href="/static/css/usersList.css">
    
    <script src="/static/js/errors.js" defer></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="navbar-item">Home</a>
            <a href="/users" class="navbar-item">Users</a>
            <form class="search-form" method="GET" action="/search">
                <input type="text" name="query" placeholder="Search posts and users..." required>
                <button type="submit">
                    <span class="material-icons">search</span>
                </button>
            </form>
            
                <div class="dropdown">
                    <button id="logout" class="navbar-item dropdown-toggle" onclick="toggleDropdown('register-dropdown')">Register</button>
                    <div id="register-dropdown" class="dropdown-content hidden">
                        <form id="register-form" method="POST" action="/register">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" required><br>
                            <div id="username-error" class="error-message"></div>
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required><br>
                            <div id="email-error" class="error-message"></div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required><br>

                            <button type="submit">Register</button>
                        </form>
                    </div>
                </div>
                <div class="dropdown">
                    <button id="logout" class="navbar-item dropdown-toggle" onclick="toggleDropdown('login-dropdown')">Login</button>
                    <div id="login-dropdown" class="dropdown-content hidden">
                        <form id="login-form" method="POST" action="/login">
                            <label for="login">Username or Email:</label>
                            <input type="text" id="login" name="login" required><br>
                            <div id="login-error" class="error-message"></div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required><br>
                            <div id="password-error" class="error-message"></div>
                            <button type="submit">Login</button>
                        </form>
                    </div>
                </div>
            
        </nav>
    </header>
    <main class="content">
        
    <link rel="stylesheet" href="/static/css/categories.css">
    <link rel="stylesheet" href="/static/css/posts.css">
    <link rel="stylesheet" href="/static/css/top-users.css">
    <div class="welcome-section">
        <h1 id="welcome">Welcome to the Book Forum</h1>
    </div>
    <div class="main-content">
        <div class="left-column">
            
<div class="categories-section">
    <h2>View Posts by Category</h2>
    <form action="/sortedPosts" method="get">
        <label for="category">Choose a Category:</label>
        <select id="category" name="category_id">
            
                <option value="1">Mystery</option>
            
                <option value="2">Crime</option>
            
                <option value="3">Fantasty</option>
            
                <option value="4">Dystopian</option>
            
                <option value="5">Adventure</option>
            
                <option value="6">Romance</option>
            
                <option value="7">Horror</option>
            
                <option value="8">General</option>
            
                <option value="9">Mem</option>
            
        </select><br>
        <button id="postbutton" type="submit">View Posts</button>
    </form>
</div>

            
        </div>
        
<link rel="stylesheet" href="/static/css/posts.css">
<link rel="stylesheet" href="/static/css/buttons.css">
<link rel="stylesheet" href="/static/css/comments.css">
<script>
    function editPost(postID) {
        window.location.href = `/editPost?postID=${postID}`;
    }
</script>
<div class="posts-section">
    <h2 class="posts-title">Posts</h2>
    
    
    <form method="GET" action="/" class="sort-form">
        <label for="sort">Sort by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()">
            <option value="date" >Date</option>
            <option value="likes" >Likes</option>
        </select>
    </form>
    
    
    <div class="posts-list">
        
            
                
<div class="post">
    <small class="post-category">
        <a href="/sortedPosts?category_id=Mystery">/Mystery</a>
    </small>
    <h3><a href="/postView?postID=5">РАЗЫСКИВАЕТСЯ КОТ!!! СРОЧНО!!! </a></h3>
    <div class="post-content markdown-body"><div style="white-space: pre-wrap;"><p>В ыйсмяе в 3 часа ночи был ограблен магазин корма . Нашедший кота бандита получит вознаграждение в виде пиздюлей от него !!!</p>
</div></div>

    
    <div class="post-images" id="carousel-5">
        <div class="carousel">
            
            <div class="carousel-item active">
                <img src="/uploads/IMG_9066.jpeg" alt="Image 1">
            </div>
            
            
            
        </div>
        <button class="carousel-control prev" onclick="prevImage( 5 )">❮</button>
        <button class="carousel-control next" onclick="nextImage( 5 )">❯</button>
    </div>
    

    <div class="post-actions">
        
<div class="post-actions" id="post-actions-5">
    <span id="post-likes-5">Likes: 3</span>, 
    <span id="post-dislikes-5">Dislikes: 0</span>
    <form onsubmit="handleLike(event,  5 , 1)" style="display:inline;">
        <button id="postbutton" type="submit">👍 Like</button>
    </form>
    <form onsubmit="handleLike(event,  5 , -1)" style="display:inline;">
        <button id="postbutton" type="submit">👎 Dislike</button>
    </form>
    
        <div class="login-required-message" id="login-message-5" style="display: none;">Please log in.</div>
    
</div>

    </div>
    <small class="post-meta">Posted by Kakajun 💩 <span class="post-date">18 hours ago</span></small>
    <div class="comments-section">
        
<div class="comments-section">
    <button id="postbutton" class="toggle-comments" data-target="comments-5">Comment</button>
    <div id="comments-5" class="comments-container hidden">
        <h4>Comments:</h4>
        
            <ul id="comments-list-5">
                
                    <li id="comment-7">
                        <p>По взгляду уже понятно, что бандит уже свое получил от кота</p>
                        <small>Posted at 2024-06-21 12:24:37 &#43;0000 UTC</small>
                        <div>
                            Likes: <span id="comment-likes-7">0</span>
                            <button id="postbutton" onclick="likeComment( 7 , 1)">👍 Like</button>
                            
                        </div>
                        
                            <div class="login-required-message" id="login-message-comment-7" style="display: none;">Please log in.</div>
                        
                    </li>
                
            </ul>
        
        
</div>
<script src="/static/js/comments.js"></script>

    </div>
</div>
<script src="/static/js/post.js"></script>

            
        
            
                
<div class="post">
    <small class="post-category">
        <a href="/sortedPosts?category_id=General">/General</a>
    </small>
    <h3><a href="/postView?postID=4">Hats for cats</a></h3>
    <div class="post-content markdown-body"><div style="white-space: pre-wrap;"><p>Hats for your cats</p>
</div></div>

    
    <div class="post-images" id="carousel-4">
        <div class="carousel">
            
            <div class="carousel-item active">
                <img src="/uploads/IMG_3990.jpeg" alt="Image 1">
            </div>
            
            
            
        </div>
        <button class="carousel-control prev" onclick="prevImage( 4 )">❮</button>
        <button class="carousel-control next" onclick="nextImage( 4 )">❯</button>
    </div>
    

    <div class="post-actions">
        
<div class="post-actions" id="post-actions-4">
    <span id="post-likes-4">Likes: 2</span>, 
    <span id="post-dislikes-4">Dislikes: 0</span>
    <form onsubmit="handleLike(event,  4 , 1)" style="display:inline;">
        <button id="postbutton" type="submit">👍 Like</button>
    </form>
    <form onsubmit="handleLike(event,  4 , -1)" style="display:inline;">
        <button id="postbutton" type="submit">👎 Dislike</button>
    </form>
    
        <div class="login-required-message" id="login-message-4" style="display: none;">Please log in.</div>
    
</div>

    </div>
    <small class="post-meta">Posted by Hopheylalapey <span class="post-date">18 hours ago</span></small>
    <div class="comments-section">
        
<div class="comments-section">
    <button id="postbutton" class="toggle-comments" data-target="comments-4">Comment</button>
    <div id="comments-4" class="comments-container hidden">
        <h4>Comments:</h4>
        
            <p id="no-comments-4">No comments yet.</p>
        
        
</div>
<script src="/static/js/comments.js"></script>

    </div>
</div>
<script src="/static/js/post.js"></script>

            
        
            
                
<div class="post">
    <small class="post-category">
        <a href="/sortedPosts?category_id=Mystery">/Mystery</a>
    </small>
    <h3><a href="/postView?postID=3">ПРОДАЮ ГАРАЖЖЖЖЖЖ!!!!!!!!</a></h3>
    <div class="post-content markdown-body"><div style="white-space: pre-wrap;"><p>Гараж Криса, за дешево
</p>
</div></div>

    
    <div class="post-images" id="carousel-3">
        <div class="carousel">
            
            <div class="carousel-item active">
                <img src="/uploads/Kuva%20otettu%208.11.2023%20klo%2010.28.jpg" alt="Image 1">
            </div>
            
            
            
        </div>
        <button class="carousel-control prev" onclick="prevImage( 3 )">❮</button>
        <button class="carousel-control next" onclick="nextImage( 3 )">❯</button>
    </div>
    

    <div class="post-actions">
        
<div class="post-actions" id="post-actions-3">
    <span id="post-likes-3">Likes: 3</span>, 
    <span id="post-dislikes-3">Dislikes: 1</span>
    <form onsubmit="handleLike(event,  3 , 1)" style="display:inline;">
        <button id="postbutton" type="submit">👍 Like</button>
    </form>
    <form onsubmit="handleLike(event,  3 , -1)" style="display:inline;">
        <button id="postbutton" type="submit">👎 Dislike</button>
    </form>
    
        <div class="login-required-message" id="login-message-3" style="display: none;">Please log in.</div>
    
</div>

    </div>
    <small class="post-meta">Posted by andrei <span class="post-date">19 hours ago</span></small>
    <div class="comments-section">
        
<div class="comments-section">
    <button id="postbutton" class="toggle-comments" data-target="comments-3">Comment</button>
    <div id="comments-3" class="comments-container hidden">
        <h4>Comments:</h4>
        
            <ul id="comments-list-3">
                
                    <li id="comment-5">
                        <p>Сук 🤣</p>
                        <small>Posted at 2024-06-21 11:09:12 &#43;0000 UTC</small>
                        <div>
                            Likes: <span id="comment-likes-5">1</span>
                            <button id="postbutton" onclick="likeComment( 5 , 1)">👍 Like</button>
                            
                        </div>
                        
                            <div class="login-required-message" id="login-message-comment-5" style="display: none;">Please log in.</div>
                        
                    </li>
                
            </ul>
        
        
</div>
<script src="/static/js/comments.js"></script>

    </div>
</div>
<script src="/static/js/post.js"></script>

            
        
            
                
<div class="post">
    <small class="post-category">
        <a href="/sortedPosts?category_id=Crime">/Crime</a>
    </small>
    <h3><a href="/postView?postID=2">ПРОДАЮ ГАРАЖ</a></h3>
    <div class="post-content markdown-body"><div style="white-space: pre-wrap;"><p>Продаю гараж +37250632893</p>
</div></div>

    

    <div class="post-actions">
        
<div class="post-actions" id="post-actions-2">
    <span id="post-likes-2">Likes: 4</span>, 
    <span id="post-dislikes-2">Dislikes: 0</span>
    <form onsubmit="handleLike(event,  2 , 1)" style="display:inline;">
        <button id="postbutton" type="submit">👍 Like</button>
    </form>
    <form onsubmit="handleLike(event,  2 , -1)" style="display:inline;">
        <button id="postbutton" type="submit">👎 Dislike</button>
    </form>
    
        <div class="login-required-message" id="login-message-2" style="display: none;">Please log in.</div>
    
</div>

    </div>
    <small class="post-meta">Posted by andrei <span class="post-date">19 hours ago</span></small>
    <div class="comments-section">
        
<div class="comments-section">
    <button id="postbutton" class="toggle-comments" data-target="comments-2">Comment</button>
    <div id="comments-2" class="comments-container hidden">
        <h4>Comments:</h4>
        
            <p id="no-comments-2">No comments yet.</p>
        
        
</div>
<script src="/static/js/comments.js"></script>

    </div>
</div>
<script src="/static/js/post.js"></script>

            
        
            
                
<div class="post">
    <small class="post-category">
        <a href="/sortedPosts?category_id=General">/General</a>
    </small>
    <h3><a href="/postView?postID=1">First post</a></h3>
    <div class="post-content markdown-body"><div style="white-space: pre-wrap;"><h1 id="welcome-to-the-book-forum">Welcome to the Book Forum!
</h1>

<p>
Hello everyone,

Welcome to the <strong>Book Forum</strong>! We are delighted to have you here. This is a place where book lovers from around the world can come together to share their passion for reading, discuss their favorite books, and discover new ones.

</p>

<h2 id="what-you-can-do-here">What You Can Do Here
</h2>

<ul>
<li><strong>Discuss Books</strong>: Share your thoughts on the books you’ve read and see what others think.
</li>
<li><strong>Recommendations</strong>: Looking for your next read? Get personalized book recommendations from fellow readers.
</li>
<li><strong>Events</strong>: Participate in book-related events, such as author Q&amp;As and reading challenges.
</li>
<li><strong>Connect</strong>: Make new friends who share your love for books.

We encourage you to introduce yourself in the comments below and tell us a bit about your favorite genres or the books you&rsquo;re currently reading.

Happy reading!

<strong>Admin</strong>
</li>
</ul>
</div></div>

    
    <div class="post-images" id="carousel-1">
        <div class="carousel">
            
            <div class="carousel-item active">
                <img src="/uploads/DALL%c2%b7E%202024-06-21%2013.08.26%20-%20A%20welcoming%20scene%20for%20a%20book%20forum,%20featuring%20an%20open%20book%20with%20glowing%20pages%20in%20a%20warm,%20inviting%20light.%20The%20background%20includes%20soft,%20cozy%20elements%20s.webp" alt="Image 1">
            </div>
            
            
            
        </div>
        <button class="carousel-control prev" onclick="prevImage( 1 )">❮</button>
        <button class="carousel-control next" onclick="nextImage( 1 )">❯</button>
    </div>
    

    <div class="post-actions">
        
<div class="post-actions" id="post-actions-1">
    <span id="post-likes-1">Likes: 3</span>, 
    <span id="post-dislikes-1">Dislikes: 0</span>
    <form onsubmit="handleLike(event,  1 , 1)" style="display:inline;">
        <button id="postbutton" type="submit">👍 Like</button>
    </form>
    <form onsubmit="handleLike(event,  1 , -1)" style="display:inline;">
        <button id="postbutton" type="submit">👎 Dislike</button>
    </form>
    
        <div class="login-required-message" id="login-message-1" style="display: none;">Please log in.</div>
    
</div>

    </div>
    <small class="post-meta">Posted by admin <span class="post-date">20 hours ago</span></small>
    <div class="comments-section">
        
<div class="comments-section">
    <button id="postbutton" class="toggle-comments" data-target="comments-1">Comment</button>
    <div id="comments-1" class="comments-container hidden">
        <h4>Comments:</h4>
        
            <ul id="comments-list-1">
                
                    <li id="comment-1">
                        <p>Кто не лайкнет пост, того удалим </p>
                        <small>Posted at 2024-06-21 10:09:21 &#43;0000 UTC</small>
                        <div>
                            Likes: <span id="comment-likes-1">2</span>
                            <button id="postbutton" onclick="likeComment( 1 , 1)">👍 Like</button>
                            
                        </div>
                        
                            <div class="login-required-message" id="login-message-comment-1" style="display: none;">Please log in.</div>
                        
                    </li>
                
                    <li id="comment-3">
                        <p>ПРОДАЮ ГАРАЖ

Я лайкнул, теперь не удалишь лол 
</p>
                        <small>Posted at 2024-06-21 11:02:48 &#43;0000 UTC</small>
                        <div>
                            Likes: <span id="comment-likes-3">1</span>
                            <button id="postbutton" onclick="likeComment( 3 , 1)">👍 Like</button>
                            
                        </div>
                        
                            <div class="login-required-message" id="login-message-comment-3" style="display: none;">Please log in.</div>
                        
                    </li>
                
                    <li id="comment-4">
                        <p>Одобряю </p>
                        <small>Posted at 2024-06-21 11:04:36 &#43;0000 UTC</small>
                        <div>
                            Likes: <span id="comment-likes-4">1</span>
                            <button id="postbutton" onclick="likeComment( 4 , 1)">👍 Like</button>
                            
                        </div>
                        
                            <div class="login-required-message" id="login-message-comment-4" style="display: none;">Please log in.</div>
                        
                    </li>
                
            </ul>
        
        
</div>
<script src="/static/js/comments.js"></script>

    </div>
</div>
<script src="/static/js/post.js"></script>

            
        
    </div>
</div>

        
<div class="top-users-section">
    <h2>Top 10 Users</h2>
    <ul>
        
        <li>
            <a href="/user/2">Username: andrei</a>
            <span>Karma: 6</span>
        </li>
        
        <li>
            <a href="/user/1">Username: admin</a>
            <span>Karma: 5</span>
        </li>
        
        <li>
            <a href="/user/3">Username: Kakajun 💩</a>
            <span>Karma: 3</span>
        </li>
        
        <li>
            <a href="/user/4">Username: Hopheylalapey</a>
            <span>Karma: 2</span>
        </li>
        
        <li>
            <a href="/user/5">Username: pedro</a>
            <span>Karma: 0</span>
        </li>
        
        <li>
            <a href="/user/6">Username: chris</a>
            <span>Karma: 0</span>
        </li>
        
    </ul>
</div>

    </div>

    </main>
    <footer>
        <p>&copy; 2024 Book Forum</p>
    </footer>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/comments.js"></script>
    <script src="/static/js/usersList.js"></script>
    <script src="/static/js/likeHandler.js"></script>
</body>
</html>
