.comments-section {
    margin-top: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f6f7f8;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

ul li div {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

ul li div button {
    margin-left: 0.5rem;
}

.comments-container {
    background-color: #ffffffd7;
    padding: 0 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding-top 0.5s ease-out, padding-bottom 0.5s ease-out;
}

.comments-container.open {
    max-height: 1000px; /* Достаточно большое значение, чтобы уместить все содержимое */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.button:hover {
    background-color: #ff8b60; /* Цвет фона при наведении */
}
